<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Processing Status Dashboard</title>
  <script src="{{ url_for('process_monitoring.static', filename='js/vue.js') }}"></script>
  <link rel="stylesheet" href="{{ url_for('process_monitoring.static', filename='css/style.css') }}">
  <style>
  </style>
</head>
<body class="dark">
  <div id="app">
    {% raw %}
    <marquee class="server-usage-marquee" behavior="scroll" direction="left" scrollamount="6">
      <span v-for="(usage, server) in serverUsage" :key="server" class="usage-item">
        <strong>Server {{ server }}:</strong> <span v-html="formatUsage(usage)"></span>
      </span>
    </marquee>
    {% endraw %}
    <div>
      <h1>Processing Status Dashboard</h1>

    {% raw %}
    <div v-if="loading" class="loading">Loading...</div>
    <div v-else-if="services.length === 0" class="nodata">No data available</div>
    {% endraw %}
    <div class="status-container">
      <div class="proc-status-counts">
        <ul class="status-list">
          {% raw %}
          <li v-for="(count, status) in procStatusCounts" :key="status">
            <div :class="['status-card', status]">
              <div class="label"><i class="fas fa-check-circle"></i>{{ status === 'Not available' ? 'Inactive' : status }}</div>
              <div class="count">{{ count }}</div>
            </div>
          </li>
          {% endraw %}
        </ul>
      </div>
    </div>
    </div>
        
    <main class="table" id="customers_table">
      <section class="table__header">
        <div class="input-group styled-input">
          {% raw %}
          <input v-model="searchQuery" type="text" placeholder="Search ..." class="p-2 border rounded w-full md:w-1/3" />
          {% endraw %}
          </div>
        {% raw %}
        <select v-model="procStatusFilter" class="input-group styled-input">
          <option value="">All Proc Status</option>
          <option v-for="status in uniqueProcStatuses" :key="status" :value="status">
            {{ status === 'Not available' ? 'Inactive' : status }}
          </option>
        </select>
        <p class="input-group styled-input"><strong>Last Updated : </strong>{{ lastUpdated }}</p>
        {% endraw %}
      </section>
      <section class="table__body">
        <div class="table-container">
          <table>
            <thead>
              <tr>
                <th style="width: 50%;">Product Details</th>
                <th style="width: 15%;">Proc Status</th>
                <th style="width: 10%;">Logs</th>
                <th style="width: 25%;">Action</th>
              </tr>
            </thead>
            <tbody>
              {% raw %}
              <tr v-for="(item, index) in filteredAndSortedServices" :key="index">
                <td style="width: 50%;">
                  <div class="stats-card">
                    <div class="stats-header">
                      <div>
                        {{ item.product_name }}
                          <span :class="['status', item.service_status]" style="margin-left: 15px;">{{ item.service_status }}</span>
                      </div>
                      <div class="header-info">
                          <span>{{ item.server }}</span>
                      </div>
                    </div>
                    <div class="card-body">
                      <span>{{ item.service_name }}</span>
                      <div v-if="Array.isArray(item.product_id)">
                        <div v-for="pid in item.product_id" :key="pid">
                          {{ pid }} => {{ item.last_processed_date?.[pid] || 'N/A' }} | {{ item.last_published_date?.[pid] || 'N/A' }}
                        </div>
                      </div>
                      <div v-else>
                        {{ item.product_id }} => {{ item.last_processed_date?.[item.product_id] || 'N/A' }} | {{ item.last_published_date?.[item.product_id] || 'N/A' }}
                      </div>
                    </div>
                  </div>
                </td>
                <td style="width: 15%;"><div><span :class="['proc-status', item.proc_status]">{{ item.proc_status }}</span></div></td>
                <td style="width: 10%;"><button class="btn" @click="showLogs(item)">Show Logs</button></td>
                <td style="width: 25%;">
                  <button class="btn-restart" @click="openRestartModal(item.service_name)">Restart</button> 
                  | 
                  <button class="btn-script" @click="openScriptModal(item)">Script</button>
                  | 
                  <button class="btn-publish" @click="openPublishModal(item.service_name)">Publish</button> 
                  | 
                  <button v-if="!(item.proc_status === 'Failed' || item.proc_status === 'Inactive')" class="btn-script" @click="getProcDetails(item)">More</button>
                </td>
              </tr>
              {% endraw %}
            </tbody>
          </table>
        </div>
      </section>
    </main>
        {% raw %}
    <div v-if="showLogModal" class="modal">
      <div class="modal-content">
        <span class="close" @click="showLogModal = false">&times;</span>

        <div class="log-box">
          <h3>Journalctl Logs</h3>
          <div class="log-content">{{ selectedService.journalctl_message || 'No logs available' }}</div>
          </div>

        <div class="log-box">
          <h3>Log File Output</h3>
          <div class="log-content">{{ selectedService.log_message || 'No log file output' }}</div>
          </div>
      </div>
    </div>
    {% endraw %}

    {% raw %}
    <div v-if="showScriptModal" class="modal">
      <div class="script-modal-content">
        <span class="close" @click="showScriptModal = false">&times;</span>
        <div class="log-box" v-if="!showScript">
          <h3>Python Script</h3>
          <p>Enter admin credentials to see script for <strong>{{ selectedService.service_name }}</strong></p>
          <input v-model="auth.username" placeholder="Username" />
          <input v-model="auth.password" placeholder="Password" type="password" />
          <div class="modal-actions">
            <button @click="getScript">Confirm</button>
            <button @click="showScriptModal = false">Cancel</button>
          </div>
          <p v-if="errorMessage" class="restart-msg">{{ errorMessage }}</p>
        </div>
        <div class="script-box" v-if="showScript">
          <h3>Python Script</h3>
          <div class="script-content">{{ selectedService.script || 'No script available' }}</div>
        </div>
      </div>
    </div>
    {% endraw %}

    {% raw %}
    <div v-if="showRestartModal" class="modal-overlay">
      <div class="modal">
        <div class="modal-content">
          <span class="close" @click="showRestartModal = false">&times;</span>
          <div class="log-box">
            <h3>Restart Service</h3>
            <p>Enter admin credentials to restart <strong>{{ selectedServiceName }}</strong></p>
            <input v-model="auth.username" placeholder="Username" />
            <input v-model="auth.password" placeholder="Password" type="password" />
          </div>
          <div class="modal-actions">
            <button @click="restartService">Confirm</button>
            <button @click="closeRestartModal">Cancel</button>
          </div>
          <p v-if="restartMessage" class="restart-msg">{{ restartMessage }}</p>
        </div>
      </div>
    </div>
    {% endraw %}

    {% raw %}
    <div v-if="showPublishModal" class="modal-overlay">
      <div class="modal">
        <div class="modal-content">
          <span class="close" @click="showPublishModal = false">&times;</span>
          <div class="log-box">
            <h3>Publish Service</h3>
            <p>Enter admin credentials to publish <strong>{{ selectedServiceName }}</strong></p>
            <input v-model="auth.username" placeholder="Username" />
            <input v-model="auth.password" placeholder="Password" type="password" />
          </div>
          <div class="modal-actions">
            <button @click="publishService">Confirm</button>
            <button @click="closePublishModal">Cancel</button>
          </div>
          <p v-if="publishMessage" class="publish-msg">{{ publishMessage }}</p>
        </div>
      </div>
    </div>
    {% endraw %}

    {% raw %}
    <div v-if="showDetails" class="modal">
      <div class="script-modal-content">
        <span class="close" @click="showDetails = false;">&times;</span>

        <div class="">
          <h3>Proc Details</h3>
          <select v-model="procDetailFilter" class="input-group styled-input" style="width: 100%; padding: 12px 16px;">
            <option value="">Select Details</option>
            <option v-for="key in uniqueProcDetailsKeys" :key="key" :value="key">
              {{ key }}
            </option>
          </select>
        </div>
        <div v-for="item in filteredProcDetails" class="">
          <h4>{{ item.key }}</h4>
          <div class="proc-detail-content">{{ item.value || 'No details available' }}</div>
        </div>
      </div>
    </div>
    {% endraw %}
  </div>  
  <script src="{{ url_for('process_monitoring.static',filename='js/app.js') }}"></script>
</body>
</html>




body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f4f6;
    color: #333;
    margin: 0;
    padding: 20px;
  }

  h1 {
    text-align: center;
    color: #4a63f3;
    /* margin-bottom: 30px; */
    font-size: 2rem;
  }

  .table-container {
    overflow-x: auto;
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  thead {
    background-color: #e8ebf8;
  }

  th, td {
    padding: 12px 16px;
    border: 1px solid #ddd;
    text-align: left;
    /* vertical-align: top; */
  }

  th {
    font-weight: 600;
    color: #333;
  }

  tr:hover {
    background-color: #f9fafc;
  }

  /* td { padding: 10px; }  */
  .stats-card { display: block; border: 1px solid #ddd; border-radius: 5px; box-shadow: 2px 2px 6px rgba(0,0,0,.1); background-color: #fff; } 
  .stats-header { display:flex; align-items: center; justify-content: space-between; padding: 10px; font-weight: bold; border-bottom: 1px solid #ddd; } 
  .header-info { margin: 10px 10px 10px 10px; } 
  .status { padding: 5px 10px; color: #fff; border-radius: 3px; } 
  .success { background-color: green; } 
  .error { background-color: red; } 
  .warning { background-color: orange; } 
  .card-body { display: flex; justify-content: space-between; padding: 10px; }

  .status-container {
    /* display: flex; */
    gap: 24px;
    justify-content: space-between;
    flex-wrap: wrap;
    /* padding: 20px; */
  }
  
  .status-card {
    flex: 1 1 200px;
    /* max-width: 250px; */
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);
    /* color: #fff; */
    text-align: center;
    transition: transform 0.3s;
  }
  
  .status-card:hover {
    transform: translateY(-4px);
  }
  
  .status-card .label {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  
  .status-card .count {
    font-size: 24px;
    font-weight: bold;
    margin-top: 12px;
  }
  
  /* Individual card colors */
  .status-card.R {
    background: linear-gradient(135deg, #4CAF50, #A5D6A7);
  }
  
  .status-card.S {
    background: linear-gradient(135deg, #17a2b8, #cadada);
  }
  
  .status-card.D {
    background: linear-gradient(135deg, #fd7e14, #dbbd91);
    color: #333;
  }
  
  .status-card.T {
    background: linear-gradient(135deg, #e53935, #ef9a9a);
  }

  .status-card.Failed {
    background: linear-gradient(135deg, #e53935, #ef9a9a);
  }
  
  .status-card.Inactive {
    background: linear-gradient(135deg, #9e9e9e, #e0e0e0);
    color: #222;
  }

  .status-card.Deactivating {
    background: linear-gradient(135deg, #8063b6, #ddb2f7);
    color: #222;
  }
  
  ul.status-list {
    display: flex;
    /* gap: 20px; */
    list-style: none;
    padding: 0;
    margin: 0;
    /* flex-wrap: wrap; */
    justify-content: space-between;
  }
  
  ul.status-list li {
    flex: 1 1 200px;
    max-width: 350px;
    /* background: linear-gradient(135deg, #ffffff, #f3f4f6);
    border-radius: 20px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.08); */
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    flex-wrap: wrap;
  }
  
  ul.status-list li:hover {
    transform: translateY(-4px);
  }
  
  ul.status-list li .label {
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  
  ul.status-list li .count {
    font-size: 24px;
    font-weight: bold;
    margin-top: 12px;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .status-container {
      flex-direction: column;
      align-items: center;
    }
  
    .status-card {
      width: 100%;
      max-width: 300px;
    }
  }

  .status {
    /* padding: 0.8rem; */
    border-radius: 2rem;
    font-weight: 600;
    text-align: center;
    font-size: 14px;
    color: #fff;
    white-space: nowrap;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    text-transform: capitalize;
  }
  
  /* Status Colors */
  .status.active {
    background-color: #28a745; /* green */
  }
  
  .status.inactive {
    background-color: #6c757d; /* gray */
  }
  
  .status.activating {
    background-color: #17a2b8; /* teal/cyan */
  }
  
  .status.deactivating {
    background-color: #6f42c1; /* orange */
  }
  
  .status.failed {
    background-color: #dc3545; /* red */
  }
  
  .status.other {
    background-color: #fd7e14; /* purple */
  }

  .status:hover {
    filter: brightness(1.1);
    cursor: default;
  }  

  /* .status {
    font-weight: bold;
  }

  .status.active {
    color: green;
  }

  .status.failed,
  .status.connection_error {
    color: red;
  }

  .status.inactive {
    color: orange;
  } */

  .proc-status {
    padding: 8px 14px;
    border-radius: 20px;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    text-align: center;
    /* white-space: nowrap; */
    text-transform: capitalize;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Individual Process States */
  .proc-status.R {
    background-color: #28a745; /* green */
  }
  
  .proc-status.S {
    background-color: #17a2b8; /* cyan */
  }
  
  .proc-status.D {
    background-color: #fd7e14; /* orange */
  }
  
  .proc-status.Z {
    background-color: #6f42c1; /* purple */
  }
  
  .proc-status.T {
    background-color: #dc3545; /* red */
  }

  .proc-status.Failed {
    background-color: #dc3545; /* red */
  }

  .proc-status.Inactive {
    background-color: #6c757d; /* gray */
  }

  .proc-status.Deactivating {
    background-color: #6f42c1; /* gray */
  }

  .proc-status:hover {
    filter: brightness(1.1);
    cursor: default;
  }
  
  .proc-status-counts {
    margin-top: 20px;
    padding: 0px 15px;
    /* border: 1px solid #eee;
    border-radius: 8px;
    background-color: #f9f9f9; */
  }
  .proc-status-counts ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .proc-status-counts li {
    margin-bottom: 5px;
    font-size: 1rem;
  }

  .modal {
    position: fixed;
    top: -20px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 1.5rem;
    border-radius: 10px;
  }

  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 95%;
    max-width: 800px;
    max-height: 90%;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .script-modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 90%;
    max-height: 80%;
    height: 100%;
    /* overflow-y: auto; */
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .script-content {
    background-color: #f6f8fa;
    padding: 10px;
    border-radius: 6px;
    white-space: pre-wrap;
    font-size: 0.9rem;
    color: #444;
    height: 800px;
    overflow-y: auto;
  }

  .proc-detail-content {
    background-color: #f6f8fa;
    padding: 10px;
    border-radius: 6px;
    white-space: pre-wrap;
    font-size: 0.9rem;
    color: #444;
    height: 650px;
    overflow-y: auto;
    max-width: 90%;
    width: -webkit-fill-available;
  }

  .script-box h3 {
    margin-bottom: 8px;
    font-size: 1rem;
    font-weight: bold;
    color: #4a63f3;
  }

  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal input {
    width: -webkit-fill-available;
    margin: 0.5rem;
    padding: 0.4rem;
  }

  .modal-actions {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
  }

  /* Confirm Button */
  .modal-actions button:first-child {
    background-color: #22c55e;
    color: white;
    border: none;
    padding: 0.5rem 1.2rem;
    font-size: 0.95rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 1rem;
  }
  .modal-actions button:first-child:hover {
    background-color: #16a34a;
  }
  
  /* Cancel Button */
  .modal-actions button:last-child {
    background-color: #ef4444;
    color: white;
    border: none;
    padding: 0.5rem 1.2rem;
    font-size: 0.95rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 1rem;
  }
  .modal-actions button:last-child:hover {
    background-color: #dc2626;
  }
  
  /* .restart-msg {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #2d3748;
  } */

  /* Optional: Restart message */
  .restart-msg {
    margin-top: 1rem;
    font-size: 0.9rem;
    color: #374151;
    text-align: center;
  }

  .btn-restart {
    background: #f97316;
    color: white;
    padding: 0.4rem 0.6rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn-restart:hover {
    background: #ce5e0f;
  }

  .btn-publish {
    background: #16c4f9;
    color: white;
    padding: 0.4rem 0.6rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn-publish:hover {
    background: #08869c;
  }

  .btn-script {
    background: #6f42c1;
    color: white;
    padding: 0.4rem 0.6rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn-script:hover {
    background: #9732e9;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    color: #aaa;
  }

  .close:hover {
    color: #333;
  }

  .log-box {
    margin-bottom: 20px;
  }

  .log-box h3 {
    margin-bottom: 8px;
    font-size: 1rem;
    font-weight: bold;
    color: #4a63f3;
  }

  .log-content {
    background-color: #f6f8fa;
    padding: 10px;
    border-radius: 6px;
    white-space: pre-wrap;
    font-size: 0.9rem;
    color: #444;
    max-height: 300px;
    overflow-y: auto;
  }

  .btn {
    padding: 6px 12px;
    background-color: #4a63f3;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 0.9rem;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #3b4ddc;
  }

  .loading, .nodata {
    text-align: center;
    margin-top: 40px;
    font-size: 1.2rem;
    color: #777;
  }

  @media (max-width: 768px) {
    .log-sections {
      flex-direction: column;
    }
  }

  /* 08072025 - UI Design From Github */

  main.table {
    width: 100%;
    /* height: 90vh; */
    background-color: #fff5;

    backdrop-filter: blur(7px);
    /* box-shadow: 0 .4rem .8rem #0005; */
    border-radius: .8rem;

    /* overflow: hidden; */
}

.table__header {
    /* width: 100%; */
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.table__header .input-group {
    width: 40%;
    height: 100%;
    background-color: #fff5;
    padding: 0.8rem;
    /* border-radius: 2rem; */

    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

.table__header .input-group:hover {
    width: 42%;
    background-color: #fff8;
    box-shadow: 0 .5rem .8rem #0002;
}

/* .table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
} */

.table__header .input-group input {
    width: 100%;
    /* padding: 0.5rem; */
    background-color: transparent;
    border: none;
    outline: none;
}

.styled-input {
  /* width: 100%; */
  max-width: 400px;
  /* padding: 12px 16px; */
  border: 2px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.3s ease;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.styled-input:focus {
  /* border-color: #4A90E2; */
  box-shadow: 0 0 8px rgba(74, 144, 226, 0.4);
  background-color: #f9f9ff;
}

.styled-input::placeholder {
  color: #aaa;
  transition: color 0.2s ease;
}

.styled-input:focus::placeholder {
  color: #999;
}

input, select {
  font-size: 1rem;
  /* padding: 8px; */
  border: 1px solid #ccc;
  border-radius: 6px;
}

select {
  background-color: #f9f9f9;
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
    overflow: overlay;
}


.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}


table {
    width: 100%;
}

td img {
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    border-radius: 50%;

    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}


@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    
    text-align: center;
    font-size: 1rem;
    
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
    border: 1.4px solid #6c00bd;
}

thead th:hover {
    color: #6c00bd;
}

thead th.active span.icon-arrow{
    background-color: #6c00bd;
    color: #fff;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: #6c00bd;
}

/* 15072025 - Server Usage Design Details */

.server-usage-marquee {
  height: 20px;
  background: linear-gradient(90deg, #f3adad, #f7ec88);
  color: #000;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 20px;
  white-space: nowrap;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.usage-item {
  margin-right: 40px;
  display: inline-block;
}

.usage-item strong {
  color: #1524fa;
}

.usage-section {
  /* background: #fdfdfd;
  border: 1px solid #e3e3e3; */
  /* border-radius: 10px; */
  /* padding: 20px; */
  /* margin-bottom: 30px; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.usage-section h2 {
  justify-content: center;
  display: flex;
  margin-bottom: 15px;
  font-size: 1.25rem;
  font-weight: bold;
  color: #333;
}

.usage-section ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.usage-section li {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.usage-section li:last-child {
  border-bottom: none;
}

.server-label {
  font-weight: bold;
  color: #444;
  margin-right: 10px;
}

.usage-stats {
  font-family: monospace;
}

/* Color indicators */
.usage-green {
  color: #12ac04;
}

.usage-yellow {
  color: #997b05;
}

.usage-red {
  color: #a72112;
}

/* 15072025 - Server Usage Design Details */

  /* 08072025 - UI Design From Github */

  /* .btn {
    padding: 6px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9rem;
  }
  .btn-logs {
    background: #2563eb;
    color: white;
  }
  .btn-restart {
    background: #f97316;
    color: white;
  }

  .modal-overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .modal {
    background: white;
    padding: 1.5rem;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  }

  .modal h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .modal input {
    width: 100%;
    margin: 8px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }

  .modal-actions {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  .modal-actions button {
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
    font-size: 0.9rem;
    cursor: pointer;
  }

  .modal-actions button:first-child {
    background-color: #22c55e;
    color: white;
  }

  .modal-actions button:last-child {
    background-color: #ef4444;
    color: white;
  }

  .restart-msg {
    margin-top: 10px;
    font-size: 0.85rem;
    text-align: center;
    color: #374151;
  }

  pre {
    background: #f3f3f3;
    padding: 8px;
    font-size: 0.85rem;
    max-height: 200px;
    overflow-y: auto;
    white-space: pre-wrap;
  } */



this is my index and
