├── app
│   ├── alert_push.py
│   ├── __init__.py
│   ├── __pycache__
│   │   ├── alert_push.cpython-313.pyc
│   │   ├── __init__.cpython-310.pyc
│   │   ├── __init__.cpython-312.pyc
│   │   ├── __init__.cpython-313.pyc
│   │   ├── routes.cpython-310.pyc
│   │   ├── routes.cpython-312.pyc
│   │   └── routes.cpython-313.pyc
│   ├── routes.py
│   ├── static
│   │   ├── css
│   │   │   ├── alert-notifications.css
│   │   │   ├── all.min.css
│   │   │   ├── fontawesome.min.css
│   │   │   └── style.css
│   │   └── js
│   │       ├── alert-notifications.js
│   │       ├── lib
│   │       │   ├── boost.js
│   │       │   ├── chart.js
│   │       │   ├── chart.min.js
│   │       │   ├── exporting.js
│   │       │   ├── highcharts.js
│   │       │   └── socket.io.min.js
│   │       └── monitor.js
│   └── templates
│       ├── index copy.html
│       └── index.html
├── config.py
├── detailed_history
├── __pycache__
│   ├── config.cpython-310.pyc
│   ├── config.cpython-312.pyc
│   ├── config.cpython-313.pyc
│   └── run.cpython-313.pyc
├── README.md
├── run.py
├── server_cache.json
├── server_history.json
├── user_tracking_1.json
└── user_tracking.json
